<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkEzzz</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/director.css">
</head>

<body>
    <nav class="navbar">
        <section class="logo"><img src="/images/logo.png" alt="">
            <heading class="head">WorkEzz</heading>
        </section>
        <section class="text-part">
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul>

                <li class="items" id="home">Home</li>
                <li class="items" id="about">About</li>
                <li class="items" id="about">Our Team</li>
                <li class="items"><a href="">Samples</a></li>
                <li class="items" id="feedback">Feedback</li>
                <button class="btn"><a href="sdas">Try Us</a></button>
            </ul>
        </section>

        
    </nav>

<section class="container">
            <div class="arrow l" onclick="prev()">
                <img src="/images/l.png" alt="">
            </div>
            <div class="slide slide-1">
                <div class="text-container" id="p-1">
                    <h2>Try Us</h2>
                    <h4>And enjoy no load college life</h4>
                    <button class="btn" id="padding"><a href="sdas">Click Here</a></button>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="text-container">
                    <h2>Join Us</h2>
                    <h4>And help others from writing</h4>
                    <button class="btn" id="padding">Join Here</button>
                </div>
            </div>
            <div class="slide slide-3">
                <div class="caption">
                    <p>Life is too short! Don't waste on assignments,</p>
                    <h3>Try WorkEzz today</h3>
                </div>
            </div>
            <div class="arrow r" onclick="next()">
                <img src="/images/r.png" alt="">
            </div>
        </section>

        <section class="about">
            <h2>About Us</h2>
            <p>WorkEzzz is an platform build for the convinience of students by helping them writing their assignments / homeworks / projects / lab assignments etc. We believe in personal growth by learning new skills rather than building these projects and assignments, that are the cause of wastage of time most of the times. Instead a student can approach to the WorkEzzz, here there are lot of people who are wiling to write your assignments that too at a feasible cost!!!</p>
            <p>Not only for those who want to write, we have something for them also that wants to contribute by writing. Join our team today and get a reasonable pay for each assignment you complete. Don't waste your writing talent and earn some easy money from it. A little effort and your wallet will be full.</p>
        </section>
       <section class="directorArea">
        <div class="director-photu">
            <img src="/images/me.png" alt="">
        </div>
        <div class="director-comment">
           <div class="box">
            <div class="text">
                
            </div>
           </div>
        </div>
       </section>

</body>
<script src="/js/index.js"></script>
</html>