<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/apply" class="apply-form" method="post" enctype="multipart/form-data">
        <div class="form-field"><label for="name" id="label-name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your Name">
        </div>
        <div class="form-field"><label for="year" id="label-year">Year</label>
            <input type="number" id="year" name="year" placeholder="Enter your Year">
        </div>
        <div class="form-field"><label for="expertise" id="label-expertise">Expertise</label>
            <input type="text" id="expertise" name="expertise" placeholder="Enter your expertise (Drawing/coding/maths/etc.)">
        </div>
        <div class="form-field"><label for="experience" id="label-experience">Experience</label>
            <input type="number" id="experience" name="experience" placeholder="Enter number of assignments completed">
        </div>
        <div class="form-field"><label for="photo" id="label-photo">Profile Photo</label>
            <input type="file" id="photo" name="photo" placeholder="Upload profile photo">
        </div>
        <div class="form-field"><label for="sample" id="label-sample">Sample</label>
            <input type="file" id="sample" name="sample" placeholder="Upload your Samples">
        </div>
        <button type="submit" value="submit" class="btn">Submit</button>
    </form>
</body>

</html>